* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header h1 {
    margin: 0;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
header nav ul li {
    margin: 0 15px;
}
main {
    padding: 20px 0;
}
main h2 {
    margin-bottom: 20px;
}
main p {
    margin-bottom: 20px;
    line-height: 1.6;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


